@media(max-width:1400px) {
    .text1{
        top: 85px;
        left: 280px;
    }
    .block3{
        background-position: center;
        padding-top: 73px;
    }
    .block31{
        margin-top: 0;
    }
    .block32{
        margin-top: 58px;
        margin-bottom: 96px;
    }
    .block51{
        padding-left: 400px;
    padding-right: 150px}
    .button-block5{
        padding-left: 0px;
    }
    .block5__button{
        padding-right: 0px;
        margin-left: 70px;
        padding-bottom: 70px;
    }
    .wrap7{
        padding-left: 300px;
    }
    .wrapform9{
        margin-left: 257px;
        margin-right: 150px;
        margin-top: 110px;
        padding-top: 33px;
        padding-left: 30px;
        padding-right: 30px;
    }
        .confid-block{
            margin-left: 410px;
        }
        .button-block9 {
            padding-top: 80px;
        }
        
        .button-block91{
            margin-left: 395px;
            margin-top: 90px;
        }
}
@media(max-width:1200px) {
    .text1 {
 
        left: 205px;}
        .block3{
            
            padding-top: 52px;
        }
        .wrap3{
            padding-top: 20px;
        }
        .block31,.block32{
            width: 700px;
        }
        .wrap5__title{
            padding-left: 340px;
        }
        .button-block9 {
            padding-top: 50px;
        }
        .button-block91{
            margin-left: 305px;
            margin-top: 40px;
        }
        .text12{
            left: 180px;
        }
        .block51 {
            padding-left: 335px;
            padding-right: 120px;}
            .wrap7 {
                padding-left: 230px;
            }
            .block-slider1 {
                padding-left: 0px;
                padding-right: 400px;
            }
            .wrapform9 {
                    margin-left: 222px;
                    margin-right: 70px;
                    padding-top: 10px;
                    padding-left: 21px;
                    padding-bottom: 5px;
                }
                 .text91 {
                    margin-top: 15px;}
                  
                    .confid-block {
                        margin-left: 240px;
                    }
                    .confid-block {
                        margin-top: 20px;}

}
@media(max-width:992px) {
    .block5__button {
        padding-right: 60px;}
    .block51 {
        padding-left: 315px;
        padding-right: 105px;
    }
    .text5{
        padding-left: 0;
    }
    .button-block6{
        padding-left: 0;
    }
    .text-reg {
        margin-top: 2%;}
        input[type="submit"] {
            width: 200px;
            padding: 10px 15px;
            font-size: 16px;
        }
        .lbl1{
            width: 85px;
            font-size: 16px;
        }
        .text91{
            font-size: 16px;
        }
        .container{
            font-size: 16px;
        }
        .wrapform9 {
            margin-left: 195px;
            margin-right: 115px;}
            .button-block91 {
                margin-left: 340px;
                margin-top: 85px;}
}
@media(max-width:768px) {
    .wrapform9 {
        margin-left: 185px;
        margin-right: 155px;
    }

}
@media(max-width:576px) {}